

.main-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-areas: 
  "header header header"
  "sidebar card1 card2"
  "sidebar card3 card4"
  "footer footer footer";
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.header{
  grid-area: "header";
  background-color: white;
  color: blue;
  border-radius: 8px;
}

.sidebar{
  grid-area: "sidebar";
  background-color: white;
  color: #9b59b6;
}

.card1{
  grid-area: "card1";
  background-color: white;
  color: rgb(167, 167, 227);
  border-radius: 8px;
}

.card2{
  grid-area: "card1";
  background-color: white;
  color: rgb(167, 167, 227);
  border-radius: 8px;
}

.card3{
  grid-area: "card1";
  background-color: white;
  color: rgb(167, 167, 227);
  border-radius: 8px;
}

.card4{
  grid-area: "card1";
  background-color: white;
  color: rgb(167, 167, 227);
  border-radius: 8px;
}

.footer{
  grid-area: "footer";
  background-color: white;
  border-radius: 8px;
}